@import url("https://rsms.me/inter/inter.css");

$color-pho: #fafafa;
$color-coralblack: #1b1b1b;
$color-coralorange: #ffb800;
$color-coralred: #ff5252;
$color-coralblue: #6ab8ff;

@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}

:root {
  font-size: calc(12px + 0.5vw);
  font-weight: 400;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

body {
  background-color: $color-pho;
  color: $color-coralblack;
  width: 80%;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  position: relative;
  top: calc(4rem + 0.2vh);

  .navbar-link {
    text-decoration: none;
    color: $color-coralblack;
    padding: 0 1.5rem 0 0;
    text-align: left;
    font-weight: 500;

    @include transition(all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95));
    &:hover {
      color: $color-coralred;
      letter-spacing: 0.05rem;
      text-decoration: underline;
    }
  }
}

.main-page {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  height: calc(100vh - 4rem - 0.2vh); //100vh - (spacing above the navbar)
  margin: 0 auto;

  .main-content {
    flex: 1;
    max-height: 50%;
    
    .main-text {
      font-size: 4rem;
      font-weight: 600;
      margin: calc(10vh) 0 0 0;
    }

    .sub-text {
      font-size: 1.8rem;
      font-weight: 400;
      margin-top: 1rem;
    }
  }
}

.text-keep-scrolling {
  position: relative;
  top: 3rem;
  color: rgba($color-coralblack, 0.5);

  @include transition(all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95));
  &:hover {
    color: $color-coralred;
    letter-spacing: 0.05rem;
    cursor: pointer;
  }
}

.text-underline {
  text-decoration: underline;

  @include transition(all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95));
  &:hover {
    color: $color-coralred;
    letter-spacing: 0.15rem;
    cursor: default;
  }
}

footer {
  position: absolute;
  bottom: 1.2rem;
  left: 0;
  right: 0;

  p {
    text-align: center;
    font-size: 0.6rem;
    color: rgba($color-coralblack, 0.2);

    @include transition(all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95));
    &:hover {
      color: rgba($color-coralblack, 1);
      cursor: default;
    }
  }
}
